# Flutter / Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/*.jks
**/*.keystore

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Misc
*.log
.env

# Maven
budgetly_api/target/
